.contact-form-container {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  max-width: 900px;
  margin: 0 auto;
}
.contact-info {
  width: 70%;
}
.contact-item {
  margin-bottom: 20px;
}
.contact-item h3 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #e74c3c;
  display: flex;
  gap: 10px;
}
.contact-form {
  margin-left: 20px;
  border: 2px solid #b4adad;
  padding: 5%;
  border-radius: 10px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.contact-form textarea {
  height: 100px;
}
.contact-form button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.icon{
  background-color: #e74c3c;
  color: white;
  padding: 10px;
  border-radius: 50px;
}
