.error-container {
    text-align: center;
    padding: 50px;
    margin: 50px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .error-heading {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .error-paragraph {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
  }
  
  .error-button {
  background-color: #ff4c4c;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }