.footer{
    background-color: black;
    color: white;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: 160px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.copy{
    background-color: black;
    color: grey;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-right:40%;
    margin-left: 40%;
}



