.shipping-policy-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    
  }
  
  .shipping-policy-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .shipping-policy-date {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 20px;
  }
  
  .shipping-policy-welcome {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .shipping-policy-section-title {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .shipping-policy-list {
    list-style-type: none;
    padding: 0;
  }
  
  .shipping-policy-list-item {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .shipping-policy-paragraph {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .shipping-policy-contact {
    font-style: normal;
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .shipping-policy-thanks {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
  }